.test {
    color: #c34552;
    padding: 20px;
    border: 1px solid red;
    margin:0;
}
body {
    margin:0;
    font-family: "Roboto",sans-serif;
}
ul , ol {
    padding-left: 0;
    list-style-type: none;
}

.clearfix:before, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.line {
    margin-right: -15px;
    margin-left: -15px;
}

.line:before, .line:after {
    content: " ";
    display: table;
}

.line:after {
    clear: both;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.desktop-3column,.desktop-half,.general-half,.general-full, .desktop-full{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.desktop-half,.general-full {
    float: left;
}

.desktop-half {
    width: 50%;
}

.general-full {
    width: 100%;
}

@media (min-width: 768px) {
    .desktop-3column,.general-half ,.desktop-full {
        float: left;
    }

    .desktop-3column {
        width: 33.33333%;
    }
    .general-half {
        width:50%;
    }
    .desktop-full {
        width: 100%;
    }
}
@media (min-width: 992px) {

}
.general-color {
    color:#42ab00;
}
.no-padding-left{
    padding-left:0;
}
.title-generic {
    font-size:20px;
}
.icon-transition:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 0.3s;
}
.general-box {
    padding:15px;
    float:left;
    width:100%;
    text-align: center;
    border:1px solid transparent;
    box-sizing: border-box;
    position: relative;
    cursor:pointer;
    box-shadow: 3px 4px 8px 0 rgba(218,217,220,0.75);
    margin:15px 0;
    transition: 0.3s;
}
.general-box:hover {
    border-color:#42ab00;
}
.show-more-button {
    display:inline-block;
    margin:10px;
    padding:10px;
    color:white;
    background-color: #42ab00;
    border-radius:10px;
    transition: 0.3s;
    text-decoration: none;
}
.show-more-button:hover {
    opacity:0.7;
}
.text-center {
    text-align: center;
}
.filter--container {
    width:20%;
    float:left;
}
.map--container {
    width:80%;
    float:left;
}
.container--for-map {

}
@media (max-width:768px) {
    .container--for-map {
        width:750px;
    }
    .filter-container {

    }
}