/*#42ab00*/

.test {
    color: #c34552;
    padding: 20px;
    border: 1px solid red;
}

.clearfix:before, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.menu
{
    background-color: #f7f7f7;

    position: fixed;

    top: 50px;
    left: 15px;

    width: 170px;
    height: 340px;

    list-style: none;

    padding-left: 0;
}

.menu-li
{
    margin: 10px 0;

    user-select: none;
    font-size: 13pt;

    padding-left: 13px;
    color: #212121;

    transition: padding-left 0.2s ease;
}

.menu-li:hover
{
    transition: padding-left 0.2s ease;

    padding-left: 20px;

    color: #42ab00;
    cursor: pointer;
}

.separator
{
    background-color: lightgray;
    height: 1px;
}

.container
{
    width: 79%;

    margin-top: 66px;
    margin-left: 205px;

    padding-left: 15px;

    font-size: 14pt;

    border-left-style: solid;
    border-color: #42ab00;
    border-width: 3px;
}